.background1 {
    background-image: url("https://2.downloader.disk.yandex.ru/preview/bba7d139749f099659f6ef78a46d3ae3a501e8da8f06cb41c82a1caf388c8c82/inf/qSaDJpV1C8VoUzRcmUxUS0Ui7jCTZ7_Yhg0WhdkySCyZ4is-2qE7RoIqprl7N3upB8yEt8v4oYLpa8xjJkLF1Q%3D%3D?uid=173653706&filename=nii-a_sjYst1xJo-unsplash%20%281%29.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=173653706&tknv=v2&size=1920x968");
    background-size: 100% auto;
    background-attachment:fixed;

}

.title {
    position: absolute;
    top: 0;
    display: block;
    left:1px;
    right: 1px;
    overflow: hidden;

    max-width: 1917px;
    height: 50px;
    opacity: .80;

    color: white;
    border: 1px solid #333;
    border-bottom-color: #000000;
    background: rgb(44, 51, 54);

    font-family: 'Cookie', serif;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}