<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link th:href="@{/styles/home.css}" rel="stylesheet">
    <link th:href="@{/styles/account.css}" rel="stylesheet">
    <link th:href="@{/styles/cart.css}" rel="stylesheet">
    <link th:href="@{/styles/catalog.css}" rel="stylesheet">
    <link th:href="@{/styles/product.css}" rel="stylesheet">
    <link th:href="@{/styles/administrator.css}" rel="stylesheet">
    <title>Guitar shop</title>
</head>
<body class="background1">

<div class="title">
    <button class="home" id="home">
        <h2>Guitar Shop</h2>
    </button>

    <form action="/products" method="GET">
        <label>
            <input type="text" class="input_form" th:placeholder="${'search...'}" name="title" required>
        </label>
        <button class="search"></button>
    </form>

    <button class="cart" id="cart"></button>
    <button class="account" id="account"></button>

    <button class="authentication" id="log_out" sec:authorize="isAuthenticated()">
        <h2>Sign Out</h2>
    </button>

    <button class="authentication" id="log_in" sec:authorize="!isAuthenticated()">
        <h2>Sign In</h2>
    </button>

    <button class="add_product" id="add_product" sec:authorize="hasRole('ADMINISTRATOR')">
        <h2>Add product</h2>
    </button>

</div>

<div class="backing">
    <button class="categories" id="acoustic">
        <h3>Acoustic guitars</h3>
    </button>

    <button class="categories" id="electric">
        <h3>Electric guitars</h3>
    </button>

    <button class="categories" id="bass">
        <h3>Bass guitars</h3>
    </button>

    <button class="categories" id="acoustic_bass">
        <h3>Acoustic bass guitars</h3>
    </button>
</div>


<div th:if="${user != null}" class="account_container">
    <div class="user_container">
        <form th:action="@{/update_user/{user_id}(name = 'name', user_id =${user.id})}"
              method="GET">
            <div class="input_data_text">User name:</div>
            <input type="text" class="change_form" id="updateName"
                   th:name="name" th:placeholder="${user.getName()}">
        </form>

        <form th:action="@{/update_user/{user_id}(name = 'email', user_id =${user.id})}"
              method="GET">
            <div class="input_data_text">Email:</div>
            <input type="email" class="change_form" id="updateEmail"
                   th:name="email" th:placeholder="${user.getEmail()}">
        </form>

        <form th:action="@{/update_user/{user_id}(name = 'phone', user_id =${user.id})}"
              method="GET">
            <div class="input_data_text">Phone:</div>
            <input type="tel" pattern="[0-9]{12}" class="change_form" id="updatePhone"
                   th:name="phone" th:placeholder="${user.getPhone()}">
        </form>
        <button class="account_button" id="transactions">My purchases</button>
        <button class="account_button" id="passwordChange">Change password</button>
    </div>
</div>

<div th:if="${products != null}" class="catalog_container">
    <div class="table">
        <div class="table-content">
            <div class="table-row" th:each="product: ${products}">
                <div class="td"><img th:src="${product.getSrc()}" alt="" height="300"></div>
                <a th:href="@{/product/{id}(id = ${product.getId()})}" class="table-data"
                   th:text="${product.getTitle()}"/>
                <div class="table-data" th:text="${product.getQuantity() + ' in stock'}"></div>
                <div class="table-data" th:text="${product.getPrice() + ' USD'}"></div>
                <div class="table-data">
                    <a th:if="${product.getQuantity() > 0}" class="add_form_catalog_form"
                       th:href="@{/add_into_cart/{id}(id = ${product.getId()})}">
                        <label class="add_form_catalog_text">
                            Add into the cart
                        </label>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:if="${product != null}" class="container_container">
    <div class="product_container" sec:authorize="hasAnyRole('ANONYMOUS','CUSTOMER')">
        <div class="title_container" th:text="${product.getTitle()}"></div>
        <div class="image_container">
            <div class="image"><img th:src="${product.getSrc()}" alt=""></div>
        </div>
        <div class="data_container" th:text="${product.getInfo()}"></div>
        <div class="data_container" th:text="${product.getQuantity() + ' unit in stock'}"></div>
        <div class="data_container" th:text="${'Price: ' + product.getPrice() + ' USD'}"></div>
        <a th:if="${product.getQuantity() > 0}" class="add_form"
           th:href="@{/add_into_cart/{id}(id = ${product.getId()})}">
            <label class="add_form_text">
                Add into the cart
            </label>
        </a>
    </div>

    <div class="product_container" sec:authorize="hasRole('ADMINISTRATOR')">
        <div class="image_container">
            <div class="image"><img th:src="${product.getSrc()}" alt=""></div>
        </div>
        <form th:action="@{/update_product/{product_id}(name = 'title', product_id=${product.id})}" method="GET">
            <input type="text" class="product_change_form"
                   th:name="title" th:placeholder="${product.getTitle()}">
            <button class="product_change_button">Change</button>
        </form>
        <form th:action="@{/update_product/{product_id}(name = 'info', product_id=${product.id})}" method="GET">
            <input type="text" class="product_change_form"
                   th:name="info" th:placeholder="${product.getInfo()}">
            <button class="product_change_button">Change</button>
        </form>
        <form th:action="@{/update_product/{product_id}(name = 'quantity', product_id=${product.id})}" method="GET">
            <input type="text" class="product_change_form"
                   th:name="quantity" th:placeholder="${product.getQuantity() + ' unit in stock'}">
            <button class="product_change_button">Change</button>
        </form>
        <form th:action="@{/update_product/{product_id}(name = 'price', product_id=${product.id})}" method="GET">
            <input type="text" class="product_change_form" id="updatePrice"
                   th:name="price" th:placeholder="${product.getPrice()}">
            <button class="product_change_button">Change</button>
        </form>
        <form th:action="@{/update_product/{product_id}(name = 'category', product_id=${product.id})}" method="GET">
            <select name="category" class="product_change_select">
                <option th:text="${product.getCategory()}"></option>
                <option value="ACOUSTIC_GUITAR">ACOUSTIC_GUITAR</option>
                <option value="ELECTRIC_GUITAR">ELECTRIC_GUITAR</option>
                <option value="BASS_GUITAR">BASS_GUITAR</option>
                <option value="ACOUSTIC_BASS_GUITAR">ACOUSTIC_BASS_GUITAR</option>
            </select>
            <button class="product_change_button">Change</button>
        </form>
    </div>
</div>

<div th:if="${cart != null}" class="catalog_container">
    <div class="table">
        <div class="table-content">
            <div class="table-row" th:if="${cart.getItems().isEmpty()}">
                <div class="empty_text">Cart is empty</div>
            </div>
            <div th:if="${!cart.getItems().isEmpty()}">
                <div class="table-row" th:each="item: ${cart.getItems()}">
                    <div class="td"><img th:src="${item.getProduct().getSrc()}" alt="" height="300"></div>
                    <a th:href="@{/product/{id}(id = ${item.getProduct().getId()})}" class="table-data"
                       th:text="${item.getProduct().getTitle()}"/>
                    <div class="table-data" th:text="${'Cost: ' + item.getProduct().getPrice() + ' USD'}"></div>

                    <div th:if="${item.getQuantity() > item.getProduct().getQuantity()}" class="warn_text">
                        <div th:text="${item.getProduct().getQuantity() + ' on the stock'}"></div>
                    </div>
                    <div th:if="${item.getQuantity() <= item.getProduct().getQuantity()}" class="table-data">
                        <div th:text="${item.getProduct().getQuantity() + ' on the stock'}"></div>
                    </div>

                    <div class="table-data">
                        <form th:action="@{/update_quantity/{item_id}(quantity = 'name', item_id =${item.id})}"
                              method="GET">
                            <input type="number" class="quantity_form" id="updateQuantity"
                                   th:name="quantity" th:placeholder="${item.getQuantity()}">
                        </form>
                        <a th:href="@{/update_quantity/{item_id}(quantity = '0', item_id =${item.id})}">
                            <button class="delete"></button>
                        </a>
                    </div>
                    <div class="table-data" th:text="${'Sum: ' +    item.getSum() + ' USD'}"></div>
                </div>
                <div class="table-row">
                    <div class="sum_text" th:text="${'Total cost: ' + cart.getSum() + ' USD'}"></div>
                    <a th:href="@{/buy/{cart_id}(cart_id=${cart.id})}" class="buy">
                        <label class="buy_text">Buy</label></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:if="${itemsForConfirmation != null}" class="catalog_container">
    <div class="table">
        <div class="table-content">
            <div th:if="${itemsForConfirmation.getItems().isEmpty()}" class="table-row">
                <div class="warn_text" th:text="${'Sorry, guitar(s) you have choose are out of stock'}"></div>
            </div>
            <div class="table-row" th:each="item: ${itemsForConfirmation.getItems()}">
                <div class="td"><img th:src="${item.product.getSrc()}" alt="" height="300"></div>
                <a th:href="@{/product/{id}(id = ${item.getProduct.getId()})}" class="table-data"
                   th:text="${item.getProduct.getTitle()}"/>
                <div class="table-data" th:text="${item.getPrice() + ' USD'}"></div>
                <div class="table-data" th:text="${item.getQuantity() + ' in the cart'}"></div>
                <div class="table-data" th:text="${item.getSum() + ' USD'}"></div>
            </div>
            <div th:if="${!itemsForConfirmation.getItems().isEmpty()}" class="table-row">
                <div class="sum_text" th:text="${'Total cost: ' + itemsForConfirmation.getSum() + ' USD'}"></div>
                <a th:href="@{/purchase/{cart_id}(cart_id=${itemsForConfirmation.id})}" class="buy">
                    <label class="buy_text">Confirm</label>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:if="${transactions != null}" class="catalog_container">
    <div class="table">
        <div class="table-content">
            <div class="table-row" th:if="${transactions.isEmpty()}">
                <div class="empty_text">There aro no purchases so far</div>
            </div>
            <div th:if="${!transactions.isEmpty()}">
                <div class="table-row" th:each="transaction: ${transactions}">
                    <div class="table-data" th:text="${'Order №' + transaction.getId()}"></div>
                    <a th:href="@{/transaction/{id}(id = ${transaction.getId()})}" class="table-data"
                       th:text="${transaction.getCreationDate()}"/>
                    <a th:href="@{/transaction/{id}(id = ${transaction.getId()})}" class="table-data"
                       th:text="${'Purchase amount: ' + transaction.getSum() + ' USD'}"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:if="${transactionItems != null}" class="catalog_container">
    <div class="table">
        <div class="table-content" th:if="${!transactionItems.isEmpty()}">
            <div class="table-row" th:each="item: ${transactionItems}">
                <div class="td"><img th:src="${item.getProduct().getSrc()}" alt="" height="300"></div>
                <a th:href="@{/product/{id}(id = ${item.getProduct().getId()})}" class="table-data"
                   th:text="${item.getProduct().getTitle()}"/>
                <div class="table-data" th:text="${'Cost: ' + item.getPrice() + ' USD'}"></div>
                <div class="table-data" th:text="${'Quantity: ' + item.getQuantity()}"></div>
                <div class="table-data" th:text="${'Sum: ' +    item.getSum() + ' USD'}"></div>
            </div>
        </div>
    </div>
</div>

<div th:if="${adding_product_form == true}" class="admin_add_product_container_back">
    <div class="add_product_title_text">Enter new product information</div>
    <div class="admin_add_product_container">
        <form action="/add_new_product" method="POST" enctype="multipart/form-data">
            <input type="text" class="add_product_input_form" name="brand" th:placeholder="${'input brand'}" required>
            <input type="text" class="add_product_input_form" name="title" th:placeholder="${'input title'}" required>
            <input type="text" class="add_product_input_form" name="price" th:placeholder="${'input price'}"
                   pattern="^\d+(?:\.\d{1,2})?" required>
            <input type="text" class="add_product_input_form" name="info" th:placeholder="${'input info'}">
            <input type="number" class="add_product_input_form" name="quantity" th:placeholder="${'input quantity > 0'}"
                   required>
            <select name="category" class="add_product_input_form" required="required">
                <option value="">choose category</option>
                <option value="ACOUSTIC_GUITAR">Acoustic guitar</option>
                <option value="ELECTRIC_GUITAR">Electric guitar</option>
                <option value="BASS_GUITAR">Bass</option>
                <option value="ACOUSTIC_BASS_GUITAR">Acoustic bass guitar</option>
            </select>
            <input type="file" class="add_file_input_form" name="image" required>
            <button class="add_product_button">Add product</button>
        </form>
    </div>
</div>

<script src="../js/home.js"></script>
<script src="../js/log_in.js"></script>
<script src="../js/log_out.js"></script>
<script src="../js/account.js"></script>
<script src="../js/passwordChange.js"></script>
<script src="../js/cart.js"></script>
<script src="../js/transactions.js"></script>
<script src="../js/acoustic.js"></script>
<script src="../js/electric.js"></script>
<script src="../js/bass.js"></script>
<script src="../js/acousticBass.js"></script>
<script src="../js/add_product.js"></script>

</body>
</html>