<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link th:href="@{/styles/home.css}" rel="stylesheet">
    <link th:href="@{/styles/catalog.css}" rel="stylesheet">
    <title>Guitar shop</title>
</head>
<body class="background1">

<div class="title">

    <button class="home" id="home">
        <h2>Guitar Shop</h2>
    </button>

    <form method="GET">
        <label>
            <input class="input_form">
        </label>
        <button class="search"></button>
    </form>

    <button class="authentication" id="log_out" sec:authorize="isAuthenticated()">
        <h2>Sign Out</h2>
    </button>
    <button class="authentication" id="log_in" sec:authorize="!isAuthenticated()">
        <h2>Sign In</h2>
    </button>

    <button class="cart" id="cart"></button>

</div>

<div class="backing">
    <button class="categories" id="acoustic">
        <h3>Acoustic guitars</h3>
    </button>

    <button class="categories" id="electric">
        <h3>Electric guitars</h3>
    </button>

    <button class="categories" id="bass">
        <h3>Bass guitars</h3>
    </button>

    <button class="categories" id="acoustic_bass">
        <h3>Acoustic bass guitars</h3>
    </button>
</div>

<div class="catalog_container">
    <div class="table">
        <div class="table-content">
            <div class="table-row" th:each="guitar: ${guitars}">
                <div class="td"><img th:src="${guitar.getSrc()}" alt="" height="300"></div>
                <a th:href="@{/product/{id}(id = ${guitar.getId()})}" class="table-data"
                   th:text="${guitar.getTitle()}"/>
                <div class="table-data" th:text="${guitar.getPrice() + ' USD'}"></div>
                <div class="table-data">
                    <div class="add_form">
                        <a class="add_text"
                           th:href="@{/addIntoCart/{id}(id = ${guitar.getId()})}">
                            Add into the cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/home.js"></script>
<script src="../js/log_in.js"></script>
<script src="../js/log_out.js"></script>
<script src="../js/cart.js"></script>
<script src="../js/acoustic.js"></script>
<script src="../js/electric.js"></script>
<script src="../js/bass.js"></script>
<script src="../js/acousticBass.js"></script>
<script src="../js/addProduct.js"></script>


</body>
</html>



