<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <link th:href="@{/styles/registration.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/registration.js}"></script>
    <title>Log ig</title>
</head>
<div class="title">

</div>
<body class="body">
<div class="backing">
    <div class="container">
        <h1 class="text-center">Register</h1>
        <form action="/register" method="POST" class="registration-form">
            <label>
                <span class="label-text">Name</span>
                <input type="text" name="firstName" required
                       pattern="[Aa-Zz]">
            </label>
            <label>
                <span class="label-text">Email</span>
                <input type="email" name="email" required>
            </label>
            <label>
                <span class="label-text">Phone</span>
                <input type="tel" name="phone" required
                       pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
            </label>
            <label class="password">
                <span class="label-text">Password</span>
                <button class="toggle-visibility" title="toggle password visibility" tabindex="-1">
                    <span class="glyphicon glyphicon-eye-close"></span>
                </button>
                <input type="password" name="password" required>
            </label>
            <label class="checkbox">
                <input type="checkbox" name="newsletter">

            </label>
            <div class="text-center">
                <button formmethod="post" class="submit">Sign Me Up</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>