.background1 {
    background-image: url("images/backing.jpg");
    background-size: 100% auto;
    background-attachment:fixed;

}

.title {
    position: absolute;
    top: 0;
    display: block;
    left:1px;
    right: 1px;

    max-width: 1917px;
    overflow: hidden;
    height: 50px;
    opacity: .80;

    color: white;
    border: 1px solid #333;
    border-bottom-color: #000000;
    background: rgb(44, 51, 54);

    font-family: 'Cookie', serif;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

.backing {
    position: absolute;
    top: 48px;
    display: block;
    left:9px;
    right: 1px;

    width: 320px;
    height: 210px;
    opacity: .80;

    color: white;
    border: 1px solid #333;
    border-bottom-color: #000000;
    background: rgb(44, 51, 54);

    font-family: 'Cookie', serif;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

.container {
    position: relative;
    top: 20px;
    display: block;
    left: 19px;

    opacity: .99;
    border-color: white;
    border-radius: 0.5em;
    width: 350px;
    height: 60px;

    background: white;
    outline-color: lightgray;
    font-size: 0.7em;
    text-transform: uppercase;
    text-align: center;
}

.categories {
    position: relative;
    top: 2px;
    display: block;
    left: 9px;
    opacity: .99;
    border-color: white;

    width: 300px;
    height: 50px;
    color: rgb(39, 58, 65);


    background: #e5e3e3;
    outline-color: lightgray;
    font-size: 0.5em;
    text-align: center;
}

.categories:hover {
    background: rgb(44, 73, 86);
    color: white;
}

.categories:active {
    background: rgb(39, 58, 65);
    color: white;
}

.home {
    position: absolute;
    top: 4px;
    display: block;
    left: 17px;
    border-color: #676767;

    width: 300px;
    height: 45px;
    color: white;

    background: rgb(39, 58, 65);
    outline-color: lightgray;
    font-size: 0.4em;
    text-align: center;
}

.home:hover {
    background: rgb(44, 73, 86);
    color: white;
}

.home:active {
    background: rgb(39, 58, 65);
    color: white;
}

.authentication {
    position: absolute;
    top: 7px;
    display: block;
    left: 1795px;

    min-width: 100px;
    height: 35px;

    color: rgb(39, 58, 65);
    text-decoration: none;
    border-color: white;
    background: #e5e3e3;
    outline-color: lightgray;

    font-weight: bold;
    text-transform: uppercase;
    font-size: 7px;
    text-align: center;
}

.authentication:hover {
    background: rgb(47, 79, 93);
    color: white;
}

.authentication:active {
    background: rgb(39, 58, 65);
    color: white;
}

.input_form {
    position: absolute;
    top: 7px;
    left: 1445px;

    height: 30px;
    width: 255px;
}

.search {
    position: absolute;
    top: 7px;
    display: block;
    left: 1715px;

    opacity: .95;
    width: 35px;
    height: 35px;

    background-image: url("images/lightSearchTool.bmp");
    background-size: 100% auto;
    background-attachment: initial;

    border-color: lightgray;

    text-decoration: none;
    text-align: center;

}
.search:hover {
    border-color: white;
    background-image: url("images/darkSearchTool.jpg");

}

.search:active {
    background: rgb(39, 58, 65);
    color: white;
}

.amount {
    position: relative;
    top: 8px;
    display: block;
    left: 8px;

    background-image: url("https://4.downloader.disk.yandex.ru/preview/0391058dcc2ae2bce340000971d10e92fd71d11616011366ae08f25fad4402a4/inf/1ZAzfHHJ4HjqGfB0CqNeegulm9ys6JSdjOBRZr_YNIlOkpprqGEWJQ0BzASxCArG0ZPxSJUgodyD7skwIhvUsg%3D%3D?uid=173653706&filename=icons8-%D0%BA%D1%80%D0%B0%D1%81%D0%BD%D1%8B%D0%B9-%D0%BA%D1%80%D1%83%D0%B3-48.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=173653706&tknv=v2&size=1920x969");
    background-size: 100%;
    width: 15px;
    height: 15px;
}

.cart {
    position: absolute;
    top: 7px;
    display: block;
    left: 1755px;

    opacity: .95;
    width: 35px;
    height: 35px;

    background-image: url("images/lightCart.jpg");
    background-size: 100% auto;
    background-attachment: initial;
    border-color: lightgray;

    text-decoration: none;
    text-align: center;

}
.cart:hover {
    border-color: white;
    background-image: url("images/darkCart.jpg");

}

.cart:active {
    background: rgb(39, 58, 65);
    color: white;
}
