.background1 {
    background-image: url("https://2.downloader.disk.yandex.ru/preview/bba7d139749f099659f6ef78a46d3ae3a501e8da8f06cb41c82a1caf388c8c82/inf/qSaDJpV1C8VoUzRcmUxUS0Ui7jCTZ7_Yhg0WhdkySCyZ4is-2qE7RoIqprl7N3upB8yEt8v4oYLpa8xjJkLF1Q%3D%3D?uid=173653706&filename=nii-a_sjYst1xJo-unsplash%20%281%29.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=173653706&tknv=v2&size=1920x968");
    background-size: 100% auto;
    background-attachment:fixed;

}

.title {
    position: absolute;
    top: 0;
    display: block;
    left:1px;
    right: 1px;

    max-width: 1917px;
    overflow: hidden;
    height: 50px;
    opacity: .80;

    color: white;
    border: 1px solid #333;
    border-bottom-color: #000000;
    background: rgb(44, 51, 54);

    font-family: 'Cookie', serif;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

.backing {
    position: absolute;
    top: 48px;
    display: block;
    left:9px;
    right: 1px;

    width: 320px;
    height: 210px;
    opacity: .80;

    color: white;
    border: 1px solid #333;
    border-bottom-color: #000000;
    background: rgb(44, 51, 54);

    font-family: 'Cookie', serif;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

.container {
    position: relative;
    top: 20px;
    display: block;
    left: 19px;

    opacity: .99;
    border-color: white;
    border-radius: 0.5em;
    width: 350px;
    height: 60px;

    background: white;
    outline-color: lightgray;
    font-size: 0.7em;
    text-transform: uppercase;
    text-align: center;
}

.categories {
    position: relative;
    top: 2px;
    display: block;
    left: 9px;
    opacity: .99;
    border-color: white;

    width: 300px;
    height: 50px;
    color: rgb(39, 58, 65);


    background: #e5e3e3;
    outline-color: lightgray;
    font-size: 0.5em;
    text-align: center;
}

.categories:hover {
    background: rgb(44, 73, 86);
    color: white;
}

.categories:active {
    background: rgb(39, 58, 65);
    color: white;
}

.home {
    position: absolute;
    top: 4px;
    display: block;
    left: 17px;
    border-color: #676767;

    width: 300px;
    height: 45px;
    color: white;

    background: rgb(39, 58, 65);
    outline-color: lightgray;
    font-size: 0.4em;
    text-align: center;
}

.home:hover {
    background: rgb(44, 73, 86);
    color: white;
}

.home:active {
    background: rgb(39, 58, 65);
    color: white;
}

.authentication {
    position: absolute;
    top: 7px;
    display: block;
    left: 1795px;

    min-width: 100px;
    height: 35px;

    color: rgb(39, 58, 65);
    text-decoration: none;
    border-color: white;
    background: #e5e3e3;
    outline-color: lightgray;

    font-weight: bold;
    text-transform: uppercase;
    font-size: 7px;
    text-align: center;
}

.authentication:hover {
    background: rgb(47, 79, 93);
    color: white;
}

.authentication:active {
    background: rgb(39, 58, 65);
    color: white;
}

.input_form {
    position: absolute;
    top: 7px;
    left: 1445px;

    height: 30px;
    width: 255px;
}

.search {
    position: absolute;
    top: 7px;
    display: block;
    left: 1715px;

    opacity: .95;
    width: 35px;
    height: 35px;

    background-image: url("https://1.downloader.disk.yandex.ru/preview/5c244fb0fdbb9e6c3d1d541d5a59103eb3dea7a43505cd0f7cd1e4323faa3e3f/inf/Nn1Pu6N9JzDVtA0tAIU4ppp_fctcmwlNSlh5JJkWtZgnXgHFJ9DH-aeAWB4TVizA3p8-KgF7VTBvRMSO1rUX-g%3D%3D?uid=173653706&filename=%D1%81%D0%B2%D0%B5%D1%82%D0%BB%D0%B0%D1%8F%20%D0%BB%D1%83%D0%BF%D0%B0.bmp&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=173653706&tknv=v2&size=1920x969");
    background-size: 100% auto;
    background-attachment: initial;

    border-color: lightgray;

    text-decoration: none;
    text-align: center;

}
.search:hover {
    border-color: white;
    background-image: url("https://2.downloader.disk.yandex.ru/preview/4bbfc356b093888ce28506bfef3442a02b2d2c5507b20b363bb6c3c7ed477da0/inf/oSA8qUh4GkjNlMClvjfr1lRQ_WPChMShchdNW0yOVnciePfkrqvGpcYyuUMGZg3WJtlPHMxvn8ZBM8nrLJohKg%3D%3D?uid=173653706&filename=%D1%82%D0%B5%D0%BC%D0%BD%D0%B0%D1%8F%20%D0%BB%D1%83%D0%BF%D0%B0.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=173653706&tknv=v2&size=1904x968");

}

.search:active {
    background: rgb(39, 58, 65);
    color: white;
}

.amount {
    position: relative;
    top: 8px;
    display: block;
    left: 8px;

    background-image: url("https://4.downloader.disk.yandex.ru/preview/0391058dcc2ae2bce340000971d10e92fd71d11616011366ae08f25fad4402a4/inf/1ZAzfHHJ4HjqGfB0CqNeegulm9ys6JSdjOBRZr_YNIlOkpprqGEWJQ0BzASxCArG0ZPxSJUgodyD7skwIhvUsg%3D%3D?uid=173653706&filename=icons8-%D0%BA%D1%80%D0%B0%D1%81%D0%BD%D1%8B%D0%B9-%D0%BA%D1%80%D1%83%D0%B3-48.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=173653706&tknv=v2&size=1920x969");
    background-size: 100%;
    width: 15px;
    height: 15px;
}

.cart {
    position: absolute;
    top: 7px;
    display: block;
    left: 1755px;

    opacity: .95;
    width: 35px;
    height: 35px;

    background-image: url("https://2.downloader.disk.yandex.ru/preview/a9d101f0573e894478cf40dac34608f5ba20f75929d8891edcade8869a19fae7/inf/xox5AKyXNua8DZaMonLoUuz8mZJq4h5gzVz3Lv1bl3J4DFxVsAvbSeXdGALF5Fbyl3bKgpXL3oyj9yEjC0OvBA%3D%3D?uid=173653706&filename=%D0%A1%D0%B2%D0%B5%D1%82%D0%BB%D0%B0%D1%8F%20%D0%BA%D0%BE%D1%80%D0%B7%D0%B8%D0%BD%D0%B0.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=173653706&tknv=v2&size=1920x969");
    background-size: 100% auto;
    background-attachment: initial;
    border-color: lightgray;

    text-decoration: none;
    text-align: center;

}
.cart:hover {
    border-color: white;
    background-image: url("https://1.downloader.disk.yandex.ru/preview/395dc5562049b0f955333620004d51e71193503b6f54ced619da2d3a698bf448/inf/MMfPgjnkZIPY7h8rQ-CxzYNQuvF-tUl1ypBYjJlm25ZYI9rYVp0oSFqn-Oy2jjIh5qyVXX1meMNbOzZSd3iA7A%3D%3D?uid=173653706&filename=%D0%A2%D0%B5%D0%BC%D0%BD%D0%B0%D1%8F%20%D0%BA%D0%BE%D1%80%D0%B7%D0%B8%D0%BD%D0%B0.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=173653706&tknv=v2&size=1920x969");

}

.cart:active {
    background: rgb(39, 58, 65);
    color: white;
}
